h1
{
    color:blue;/*les titres sont écrits en bleu */

}
.arriéreplan
{
    background-color:#F3D3CB;
}
.image
{
    background-image:URL("../image/fleur.jpg");
    
    background-size: 100%;
}
.image
{
    background-image:URL("../image/fleur.jpg");
    
    background-size: 100%;
}