h1
{
    color:blue;/*les titres sont écrits en bleu */

}
h2{

    color:rgb(88, 48, 231)
}
.image
{
    background-image:URL("../image/fleur.jpg");
    
    background-size: 100%;
}
.image2
{
    background-image:URL("../image/flower.jpg");
    
    background-size: 100%;
}
textarea,input
{
    font-family: Times New Roman;

}
